.popup{
    background-color: rgba(var(--text-color-rgb), 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    z-index: 1;
}
.popup-container{
    position: relative;
    background: var(--bg-color);
    height: auto;
    margin: 0 auto;
    padding: 16px;
    border-radius: 15px;
    z-index: 999999;
}
.popup-header{
    width: 100%;
    text-align: right;
}
.popup-content{
    font-size:14px;
    font-weight: 400;
    line-height: 18px;
    color: rgba(var(--text-color-rgb), 0.8);
}
.popup-title{
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;
    text-transform: uppercase;
    color : var(--text-color);
    margin-bottom: 16px;
}

.popup-food{
    display:none;
}
.popup-food > .popup-container{
    width: 531px;
}
.popup-video{
    width: 100%;
    height: 250px;
    margin-bottom: 16px;
}
.popup-video > img{
    width:100%;
    height: 250px;
}
.popup-tags-raiting{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}
.popup-tag-list{
    display: flex;
    gap: 4px;
}
.tag-list-item{
    border: 1px solid rgba(var(--text-color-rgb),0.2);
    color: var(--text-color);
    font-size: 12px;
    line-height: 14px;
    padding: 8px 16px;
    font-weight: 500;
    border-radius: 35px;
}
.popup-raiting-food{
    display: flex;
    gap: 6px;
}
.popup-starts{
    display: flex;
}
.popup-starts > svg{
    width: 18px;
    height: 18px;

}
.popup-star{
    color: rgba(var(--text-color-rgb),0.1);
}
.popup-star.active{
    color: var(--star-color);
}
.popup-raiting .popup-star:hover{
    color:  var(--star-color);
}

.popup-recipt{
    list-style-type: none;
    margin-bottom: 32px;
    height: 204px;
    overflow-y: auto;
}
.popup-recipt::-webkit-scrollbar{
  width: 8px;
  background: transparent;
}
.popup-recipt::-webkit-scrollbar-track{
  background-color: transparent;
}
.popup-recipt::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: var(--switch-bg-color);
}
.popup-recipt-item{
    border-bottom: 1px solid rgba(var(--text-color-rgb),0.1);
    display: flex;
    justify-content: space-between;
    padding: 8px 8px 8px 0;
}
.popup-desc{
    margin-bottom: 32px;
    height: 204px;
    overflow-y: auto;
}
.popup-desc::-webkit-scrollbar{
  width: 8px;
  background: transparent;
}
.popup-desc::-webkit-scrollbar-track{
  background-color: transparent;
}
.popup-desc::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: var(--switch-bg-color);
}
.popup-buttons{
    margin-bottom: 32px;
}
.popup-green-btn{
    background: var(--btn-bg-color);
    color: var(--btn-text-color);
    outline: none;
    border: 1px solid var(--btn-bg-color);
    padding: 14px 28px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 500;
    transition: color .3s ease;
}
.popup-green-btn:hover{
    color: var(--text-color);
}
.popup-outline-green-btn{
    background: transparent;
    color: var(--text-color);
    outline: none;
    border: 1px solid  var(--btn-bg-color);
    padding: 14px 28px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 500;
    transition: all .3s ease;
}
.popup-outline-green-btn:hover{
    color : var(--btn-text-color);
    background: var(--btn-bg-color);
}



.popup-order{
    display: none;
}
.popup-order > .popup-container {
width : 440px;
top : 50%;
transform: translateY(-50%);
}
.popup-order-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-row{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.form-row label{
    color: rgba(var(--text-color-rgb), 0.5);
}
.popup-input{
    border: 1px solid rgba(var(--text-color-rgb),0.2);
    border-radius: 15px;
    padding: 14px 18px;
    background: transparent;
    color : var(--text-color);
}
.popup-input:focus{
    outline: 1px solid var(--btn-bg-color);
}
textarea.popup-input{
    resize: none;
    height: 100px;
    margin-bottom: 40px;
}
.popup-raiting{
    display: none;
}
.popup-raiting > .popup-container{
    width: 424px;
    top: 50%;
    transform: translateY(-50%);
}
.popup-raiting .popup-title{
    font-size: 14px;
    text-transform: capitalize;
}
.popup-raiting .raiting{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    font-size: 25px;
    color: var(--text-color);
    margin-bottom: 32px;
}
.popup-close{
    font-size: 30px;
    color:rgba(var(--text-color-rgb), 0.5);
}
@media  (min-width: 768px)and (max-width: 1279px) {
  .popup-order > .popup-container{
    max-height: 90vh;
    overflow-y: auto;
  }

}

/* mobil */
@media  (min-width: 350px)and (max-width: 767px){
  .popup-food > .popup-container{
    width: 100%;

  }
  .popup-raiting > .popup-container{
    width: 100%;
  }
  .popup-order > .popup-container{
    width: 100%;
    max-height: 90vh;
    overflow-y: auto;
  }
}

